.logo{
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    display: block;
    width: 120px;
    height: 53px;
    text-indent: -9999px;
    margin: 0;
}
.logo--branco{
    background-image: url("../img/logocinza.png");
}